*
    margin: 0
    padding: 0

html
    background: #0B0E14
    height: 100%

.about_container
    width: 90vw
    margin: 10rem auto 0 auto
    display: flex
    align-items: center
    flex-direction: column
    color: #fff
    // Intro section
    .about_intro_container
        width: 70rem
        display: flex
        justify-content: space-between
        .about_intro_profile_container
            width: 22.5rem
            height: 35rem
            overflow: hidden
            img
                object-fit: cover
                width: 100%
                height: inherit
        .about_intro_content_container
            width: 35rem
            margin-left: 7.5rem
            position: relative
            .about_intro_text_hello
                position: absolute
                left: -15rem
                top: 5rem
                font-family: Taviraj
                font-weight: 300
                font-size: 4.5rem
            .about_intro_text_presentation
                font-family: worksans
                font-weight: 400
                font-size: 1.125rem
                margin-top: 15rem
    // Main section 
    .about_main_container
        width: 43.75rem
        height: 20rem
        margin-left: 26.25rem
        .about_section_container
            width: 100%
            .about_section_title_container
                width: 100%
                height: 8rem
                display: flex
                align-items: center
                justify-content: flex-start
                .about_section_title
                    font-family: Taviraj
                    font-weight: 300
                    font-size: 2.25rem
            .about_section_content_container
                margin: 0 0 5rem 7.5rem
                display: flex
                justify-content: space-between
                align-items: flex-start


                // Skill section
                .about_skills_text_container
                    width: 50%
                    .about_skills_text_type
                        font-family: worksans
                        font-weight: 600
                        font-size: 1.125rem
                        margin-bottom: 1.5rem
                    .about_skills_text_list
                        list-style: none
                        li
                            font-family: worksans
                            font-weight: 400
                            font-size: 1.125rem
                            margin-bottom: 0.5rem


                // Experiences section
                .about_experiences_text_container
                    width: 100%
                    .about_experiences_text_list
                        list-style: none
                        li
                            display: flex
                            margin-bottom: 2rem
                            &:nth-child(2n)
                                color: #E6AF2E
                            
                            .about_experiences_short_text
                                width: 35%
                                display: flex
                                flex-direction: column
                                span
                                    font-family: worksans
                                    font-weight: 600
                                    font-size: 1.125rem
                                    margin-bottom: 0.5rem
                                    &:nth-child(2n)
                                        font-family: worksans
                                        font-weight: 400
                                        font-size: 1.125rem
                            
                            .about_experiences_long_text
                                width: 65%
                                display: flex
                                flex-direction: column
                                span
                                    text-align: right
                                    font-family: worksans
                                    font-weight: 400
                                    font-size: 1.125rem
                                    margin-bottom: 0.5rem


                // Contact section
                .about_contact_text_container
                    width: 50%
                    .about_contact_text_list
                        list-style: none
                        li
                            display: flex
                            flex-direction: column
                            margin-bottom: 2rem
                            a
                                color: #fff
                                text-decoration: none
                                font-family: worksans
                                font-weight: 600
                                font-size: 1.125rem
                                padding-bottom: 0.5rem
                                &:nth-child(2n)
                                    font-family: worksans
                                    font-weight: 400
                                    font-size: 1.125rem


// Media screen
@media screen and (max-width: 1200px)
    .about_container
        // Intro section
        .about_intro_container
            width: 50rem
            .about_intro_profile_container
                width: 17.5rem
                height: 26.25rem
                img
                    height: inherit
            .about_intro_content_container
                width: 30.5rem
                margin-left: 2rem
        // Main section
        .about_main_container
            width: 50rem
            height: 20rem
            margin-left: 0