.cursor_container{
    position: absolute;
    left: 0;
    top: 0;
    user-select: none;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.cursor_circle{
    background-color: #0000000;
    mix-blend-mode: difference;
    width: 30px;
    height: 30px;
    border-radius: 60px;
    border: solid white 1px;
    position: absolute;
    top: 0;
    left: 0;
}
.cursor_dot{
    background-color: #4998FF;
    width: 8px;
    height: 8px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    // transition: 0.3s ease transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
}

.cursor_dot.active{
    opacity: 0.5;
    transform: scale(0)w
}