*{
    cursor: none !important;
}
.global_cursor{
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    .cursor_circle{
        background-color: #00000000;
        width: 4.375rem;
        height: 4.375rem;
        border-radius: 3.75rem;
        border: solid white 0.125rem;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        will-change: transform;
        outline: 0.125rem solid transparent;
    }
    .cursor_dot{
        background-color: #E6AF2E;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 0.625rem;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        will-change: transform;
    }
}