.global_transition_page_container
    overflow: hidden
    width: 100vw
    height: 100vh
    position: absolute
    left: 0
    top: 0
    .global_transition_page
        z-index: 1050
        position: fixed
        left: 0
        bottom: 0
        width: 100vw
        height: 100vh
        background: #0B0E14
        &.scroll_down_complete
            animation: transition_scrolling_down_complete 1.5s cubic-bezier(0.75, 0.01, 0.15, 0.99) alternate
        &.scroll_up_complete
            animation: transition_scrolling_down_complete 1.5s cubic-bezier(0.75, 0.01, 0.15, 0.99) reverse
        &.scroll_down_half
            animation: transition_scrolling_down_half 0.75s cubic-bezier(0.75, 0.01, 0.15, 0.99) both
        &.scroll_up_half
            animation: transition_scrolling_down_half 0.75s cubic-bezier(0.75, 0.01, 0.15, 0.99) both

@keyframes transition_scrolling_down_complete
    0%
        transform: translate3d(0, 0, 0)
    40%
        transform: translate3d(0, -100vh, 0)
    60%
        transform: translate3d(0, -100vh, 0)
    100%
        transform: translate3d(0, -200vh, 0)

@keyframes transition_scrolling_down_half
    0%
        transform: translate3d(0, 0, 0)
    100%
        transform: translate3d(0, -100vh, 0)