@import url('https://fonts.googleapis.com/css?family=Taviraj:100,200,300,400&display=swap');

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-Thin.ttf") format("truetype");
    font-weight: 200;
}
@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-Light.ttf") format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-Semibold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Worksans";
    src: url("/fonts/WorkSans-Thin.ttf") format("truetype");
    font-weight: 100;
}
@font-face {
    font-family: "Worksans";
    src: url("/fonts/WorkSans-ExtraLight.ttf") format("truetype");
    font-weight: 200;
}
@font-face {
    font-family: "Worksans";
    src: url("/fonts/WorkSans-Light.ttf") format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: "Worksans";
    src: url("/fonts/WorkSans-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Worksans";
    src: url("/fonts/WorkSans-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Worksans";
    src: url("/fonts/WorkSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
}