a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
    color: white;
}

.header_nav_container{
    width: 90vw;
    height: 60px;
    margin: 80px auto;
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    ul.header_nav_logo_pages{
        width: 90vw;
        display: flex;
        justify-content: space-between;
        li.header_nav_logo{
            a{
                font-weight: 500;
                font-size: 22px;
                display: flex;
                img{
                    max-width: 18px;
                    margin-right: 10px;
                }
            }
        }
        li.header_nav_pages{
            
            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100%;
                li:nth-child(0n+2), li:nth-child(0n+3), li:nth-child(0n+4){
                    margin-left: 40px;
                }
                li{
                    height: 100%;
                    display: flex;
                    align-items: center;
                    margin-left: 18px;
                    font-weight: 300;
                    font-size: 18px;
                    a{
                        height: 100%;
                        display: flex;
                        align-items: center;
                    }
                    button{
                        background: none;
                        color: inherit;
                        border: none;
                        padding: 0;
                        font: inherit;
                        outline: inherit;
                        height: 100%;
                        display: flex;
                        align-items: center;
                    }
                    img{
                        height: 16px;
                        width: 16px;
                    }
                }
            }
        }
    }
}