a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
    color: white;
}

.header_nav_container{
    width: 90vw;
    height: 60px;
    margin: 40px auto;
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // logo & text
    .header_nav_logo{
        font-weight: 500;
        font-size: 22px;
        display: flex;
        align-items: center;
        height: inherit;
        display: flex;
        justify-content: center;
        width: 100px;
        img{
            max-width: 18px;
            margin-right: 10px;
        }
    }
    // pages: about & work
    .header_nav_pages{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        li{
            height: 100%;
            width: 90px;
            a{
                width: inherit;
                height: inherit;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #ddd;
            }
        }
    }
    // medias
    .header_nav_medias{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        li{
            height: inherit;
            width: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0.5;
            transition: opacity 0.3s cubic-bezier(0.57, -0.73, 0.34, 1.6);
            button{
                background: none;
                color: inherit;
                border: none;
                padding: 0;
                font: inherit;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            img{
                height: 16px;
                width: 16px;
            }
        }
        li:hover{
            opacity: 1;
        }
    }
}