.global_header{
    padding: 2.5rem 5vw 0 5vw;
    width: 90vw;
    height: 3.75rem;
    z-index: 1000;
    position: fixed;
    .header_nav_container{
        width: inherit;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Lato', sans-serif;
        z-index: inherit;
        // logo & text
        .header_nav_logo{
            font-weight: 300;
            font-size: 1.375rem;
            display: flex;
            align-items: center;
            height: inherit;
            display: flex;
            justify-content: center;
            width: 6.25rem;
            z-index: inherit;
            text-decoration: none;
            color: white;
            img{
                max-width: 1.125rem;
                margin-right: 0.625rem;
            }
        }
        // pages: about & work
        .header_nav_pages{
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: inherit;
            li{
                height: 100%;
                width: 5.625rem;
                list-style: none;
                a{
                    text-decoration: none;
                    width: inherit;
                    height: inherit;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-weight: 300;
                    div{
                        overflow: hidden;
                        position: relative;
                        span{
                            display: inline-block;
                            transition: transform 0.5s cubic-bezier(1, 0.25, 0, 0.75);
                        }
                        span:after{
                            content: attr(data_word);
                            position: absolute;
                            top: 100%;
                            left: 0;
                        }
                    }
                }
                a:hover div span{
                    transform: translateY(-100%);
                } 
            }
        }
        // medias
        .header_nav_medias{
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: inherit;
            li{
                height: inherit;
                width: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0.5;
                transition: opacity 0.3s ease;
                will-change: opacity;
                list-style: none;
                a{
                    text-decoration: none;
                    width: inherit;
                    height: inherit;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                }
                form{
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    button{
                        width: 100%;
                        background: none;
                        color: inherit;
                        outline: none;
                        border: none;
                        padding: 0;
                        font: inherit;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                img{
                    height: 1rem;
                    width: 1rem;
                }
            }
            li:hover{
                opacity: 1;
            }
        }
    }
}
