*{
    margin: 0;
    padding: 0;
    cursor: none !important;
}
html{
    background: #0B0E14;
    height: 100%;
}

.projects_container{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    .project_transition_page{
        position: absolute;
        left: 0;
        top: 100vh;
        width: 100vw;
        height: 120vh;
        background: #111;
        transform: translateY(0);
        transition: transform 1.25s cubic-bezier(0.92, 0.02, 0.29, 0.88), clip-path 1.25s cubic-bezier(0.92, 0.02, 0.29, 0.88);
        will-change: transform;
        z-index: 2000;
        clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
    }
    .project_transition_page.active{
        transform: translateY(-100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .project_container{
        position: relative;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .project_background{
            position: absolute;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            object-fit: cover;
            opacity: 0.10;
            filter: blur(1rem) grayscale(20%); 
            transform: scale(1.15);
            transition: filter 0.4s ease-in-out, opacity 1s ease-in-out;
            will-change: opacity, transform, filter;
        }
        .project_background.active{
            filter: blur(0px);
            opacity: 0.2;
        }
        .project_background_focusly{
            background-image: url('../images/projects/focusly/index_focusly.png');
        }
        .project_background_bananaflix{
            background-image: url('../images/projects/bananaflix/???.png');
        }
        span{
            color: white;
            font-family: lato;
        }
        .project_content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .project_number{
                display: flex;
                justify-content: flex-end;
                width: 13.5rem;
                font-weight: 500;
                font-size: 4rem;
            }
            .project_acronym{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 5rem 0 5rem;

                span{
                    padding: 0.25rem;
                    font-family: Taviraj;
                    font-weight: 200;
                    font-size: 5rem;
                    line-height: 5.5rem;
                }
            }
            .project_view_button{
                z-index: 1000;
                height: 5vh;
                width: 13.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                .project_view_start_arrow{
                    position: absolute;
                    left: 0;
                    height: 0.125rem;
                    width: 2.8rem; // 0, 2.8rem
                    background: #E6AF2E;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 0.75s cubic-bezier(0.75, 0.01, 0.15, 0.99);
                    will-change: transform;
                }
                .project_view_link{
                    font-weight: 300;
                    font-size: 1.2rem;
                    color: white;
                    font-family: 'lato';
                    text-decoration: none;
                    transform: translateX(-2.85rem); // -2.85rem , 1.1rem
                    transition: transform 0.75s cubic-bezier(0.75, 0.01, 0.15, 0.99);
                    will-change: transform;
                }
                .project_view_end_arrow_container{
                    display: flex;
                    align-items: center;
                    position: absolute;
                    right: 0;
                    will-change: transform;
                    .project_view_end_arrow{
                        height: 0.125rem;
                        width: 4rem; // 0, 4rem
                        background: #E6AF2E; 
                        transform: scaleX(1);
                        transform-origin: right;
                        transition: transform 0.75s cubic-bezier(0.75, 0.01, 0.15, 0.99);
                        will-change: transform;
                    }
                    img{
                        height: 0.5rem;
                        width: auto;
                    }
                }
            }
            .project_view_button:hover{
                .project_view_start_arrow{
                    transform: scaleX(1);
                }
                .project_view_link{
                    transform: translateX(1.1rem);
                }
                .project_view_end_arrow{
                    transform: scaleX(0);
                }
            }
        }
    }
    .project_container.pp{
        width: 100vw;
        height: 100vh;
        // transform: translateY(-100vh); move slider
        background: green;
    }
}
.project_scroll_container{
    position: absolute;
    bottom: 0;
    width: 10rem;
    left: calc(50% - 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .project_scroll_text{
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        width: 10rem;
        height: 3rem;
        font-family: lato;
        font-weight: 300;
        font-size: 1.2rem;
        color: white;
        transition: transform 0.5s ease;
        div{
            position: relative;
            overflow: hidden;
            span{
                display: inline-block;
                opacity: 0.5;
                will-change: transform, opacity;
            }
            span:after{
                content: attr(data_word);
                position: absolute;
                top: 100%;
                left: 0;
            }
        }
        div:nth-child(1){
            span{
                padding-right: 0.325rem;
                transition: transform 0.5s cubic-bezier(1, 0.25, 0, 0.75), opacity 0.5s cubic-bezier(1, 0.25, 0, 0.75);
            }
        }
        div:nth-child(2){
            span{
                transition: transform 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0.05s, opacity 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0.05s;
            }
        }
    }
    .project_scroll_text:hover div span{
        transform: translateY(-100%);
        opacity: 1;
    }
    .project_scroll_start_bar{
        height: 1.5rem;
        width: 0.0625rem;
        background: white;
    }
    .project_scrolling_down_container{
        z-index: 1000;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        .project_scrolling_down_mouse{
            margin: 0.9rem 0;
            height: 2rem;
            width: 1rem;
            border-radius: 99rem;
            border: 0.0625rem solid white;
            background: #FFFFFF00;
        }
        .project_scrolling_down_scroll{
            position: absolute;
            top: calc(50% - 0.5rem);
            left: calc(50% - 0.125rem/2);
            height: 0.3rem;
            transform-origin: top;
            width: 0.125rem;
            border-radius: 99rem;
            background: white;
            animation: scrolling_down 2s ease infinite;
            opacity: 0;
            will-change: opacity, transform;
        }
        .project_scrolling_down_mouse:after{
            content: 'Scroll down';
            position: absolute;
            left: 125%;
            top: 39%;
            width: 5rem;
            color: white;
            font-family: lato;
            font-weight: 300;
            font-size: 0.75rem;
            opacity: 0;
            transition: opacity 0.5s ease;
            will-change: opacity;
        }
    }
    .project_scrolling_down_container:hover {
        .project_scrolling_down_mouse:after{
            opacity: 1;
        }
    }

    .project_scroll_end_bar{
        height: 1.5rem;
        width: 0.0625rem;
        background: white;
    }
}
@keyframes scrolling_down{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    80%{
        transform: translateY(0.7rem);
        opacity: 1;
    }
    100%{
        transform: translateY(0.7rem);
        opacity: 0;
    }
}