.loading_page{
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    background: #0B0E14;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    .loading_page_container{
        display: flex;
        justify-content: center;
        align-items: center;
        .loading_page_logo{
            width: 6rem;
        }
        .loading_page_separation_bar{
            height: 6rem;
            width: 0.2rem;
            background: white;
            margin: 0 1rem 0 1rem;
        }
        .loading_page_text{
            span:nth-child(1){
                font-weight: 600;
            }
            span{
                display: block;
                color: white;
                font-family: 'Lato', sans-serif;
                font-size: 2rem;
                font-weight: 300;
            }
        }
    }
}
